BasedOnStyle: LLVM
DerivePointerAlignment: false
PointerAlignment: Left
IndentWidth: 4
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 100
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SpaceBeforeAssignmentOperators: true
