BasedOnStyle: LLVM
DerivePointerAlignment: false
PointerAlignment: Left
IndentWidth: 4
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 80
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
BreakBeforeInheritanceComma: true
SpaceBeforeAssignmentOperators: true
