<?xml version="1.0" encoding="utf-8"?>
<section name="Settings">
  <section name="DatabaseConnection">
    <connection debug="C:\Development\cpp-dev\wx-timesheets-tracker\build\x86-Debug\src\timesheets-tracker\Debug\tasks-tracker.db"
              release="C:\Program Files (x86)\TasksTracker\db\tasks-tracker.db" />
  </section>

  <section name="Settings">
    <section name="DisplayOptions">
      <displayoptions key="ConfirmOnExit" value="false" />
      <displayoptions key="StartOnBoot" value="false" />
    </section>

    <section name="SystemTray">
      <systemtray key="MinimizeToTray" value="false" />
      <systemtray key="CloseToTray" value="false" />
      <systemtray key="ShowBalloonNotifications" value="false" />
    </section>

    <section name="Database">
      <database key="BackupEnabled" value="false" />
      <database key="BackupPath" value="C:\" />
    </section>
  </section>
</section>
