<?xml version="1.0" encoding="utf-8"?>
<section name="DatabaseConnection">
  <win32>
    <connection debug="C:\Development\cpp-dev\wx-timesheets-tracker\build\x86-Debug\src\timesheets-tracker\Debug\tasks-tracker.db"
              release="C:\Program Files (x86)\TasksTracker\tasks-tracker.db" />
  </win32>
  <unix>
    <connection debug=""
              release="" />
  </unix>
</section>
